body { 
  background-color: #404040;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

}
html * {
   color: #fff;
   font-family: 'Quicksand', sans-serif;

}
.signInBreak {
  margin-top: 30px;
}

.nav{
  height: 40px;
  background: #4de1ff;
  opacity: 0.75;
  border-bottom: 2px solid #4de1ff;
}

.nav ul{
  margin: 0;
  padding: 0;

}

.nav ul li{
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  
  float: left;
  display: block;
  padding: 10px 20px;
  color: black;
  transition: all, 0.5s;
  

}

.nav ul li a:hover {
  color: white;
}

