body { 
  background-color: #404040;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

}
html * {
   color: #fff;
   font-family: 'Quicksand', sans-serif;

}
.signInBreak {
  margin-top: 30px;
}

.nav{
  height: 250px;
  background: #ff4433;
  border-bottom: 2px solid #b30f00;
}

.nav ul{
  margin: 0;
  padding: 0;

}

.nav ul li{
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  
  float: left;
  display: block;
  padding: 10px 20px;
  color: white;
  transition: all, 0.5s;
  

}

.nav ul li a:hover {
  color: black;
}

.headerBreak {
  margin-top: 500px;
}

.imageOneClass {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
  
.imageOneClass: hover {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

